.territory-map {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 40px;

  font-family: $font-os;

  &__container {
    position: relative;

    padding-left: 4.1%;
    padding-right: 4.1%;
  }

  &__content {
    position: relative;
  }

  &__title {
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #E0E0E0;
  }

  &__description {
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 40px;

    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;

    box-sizing: border-box;
  }

  &__frame {
    width: 100%;
    max-width: 1920px;
    min-height: 636px;
    margin: 0 auto;

    vertical-align: bottom;
  }
}

// Breadcrumbs
.breadcrumbs {
  max-width: 1290px;
  margin: 0 auto;
  margin-bottom: 40px;

  &__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    position: relative;

    margin-right: 20px;

    font-family: $font-os;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    &:after {
      content: '';

      position: absolute;
      top: 50%;
      right: -11px;

      width: 3px;
      height: 1px;

      background-color: #999999;
    }

    &:last-child {
      margin-right: 0;

      &:after {
        display: none;
      }
    }

    &.active-breadcrumb {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      color: #ED1C23;
    }
  }

  &__link {
      text-decoration: none;
      color: black;
      line-height: 25px;
  }
}

// Content territory

.filter-map {
  position: absolute;
  top: 20px;

  width: 100%;
  max-width: 1290px;

  &__toggle-button {
    position: absolute;
    top: 0;
    left: 50%;

    width: 305px;
    height: 49px;
    margin-left: -152.5px;

    font-family: $font-os;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 49px;
    color: #000000;

    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    outline: 0;

    cursor: pointer;

    &:after {
      content: '';

      position: absolute;
      top: 50%;
      right: 95px;

      width: 13px;
      height: 16px;
      margin-top: -8px;

      background-image: url('../img/territory/filter-icon.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 13px 16px;
    }
  }

  &__container {
    position: absolute;
    top: 50px;
    left: 50%;

    display: none;

    width: 305px;
    margin: 0 auto;
    margin-left: -152.5px;

    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    box-sizing: border-box;
  }

  &__title {
    margin: 0;
    padding: 15px 30px;

    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    border-bottom: 1px solid #E5E5E5;
  }
}

// Filter Form

.city-filter {

  &__container {
    position: relative;

    margin: 0;
    margin-top: 10px;
    padding: 0px;
    padding-bottom: 10px;

    border: 0;
    border-bottom: 1px solid #E5E5E5;
  }

  &__title {
    position: relative;

    width: 100%;
    padding: 0 40px;

    font-family: $font-os;
    font-size: 14px;
    line-height: 21px;

    cursor: pointer;

    &:before {
      content: '';

      position: absolute;
      top: 50%;
      left: 17px;

      display: inline-block;
      padding: 4px;
      margin-top: -4px;

      border: solid black;
      border-width: 0 2px 2px 0;

      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);

      transition: all 0.4s linear 0s;
    }

    &.open-menu-filter:before {
      margin-top: -5px;

      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }

  &__list {
    display: none;
    margin: 0;
    max-height: 230px;
    margin-top: 10px;
    padding: 0 40px;
    padding-right: 20px;

    list-style: none;

    scroll: auto;

    overflow: hidden;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked + .city-filter__checkbox:after {
      content: '';

      position: absolute;
      top: 50%;
      left: 1.5px;

      width: 7px;
      height: 7px;
      margin-top: -3.5px;

      background-image: url('../img/territory/check-red.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 7px 7px;
    }

    &:disabled + .city-filter__checkbox {
      background-color: #999999;
    }

    &:checked:disabled + .city-filter__checkbox:after {
      left: 1px;

      width: 8px;

      background-image: url('../img/territory/check-white.svg');
      background-size: 8px 7px;
    }
  }

  &__label {
    position: relative;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;

    cursor: pointer;
  }

  &__checkbox {
    position: absolute;
    top: 50%;
    left: 0;

    width: 10px;
    height: 10px;
    margin-top: -6.5px;

    border: 2px solid #999999;
  }

  &__text {
    padding-left: 25px;

    font-family: $font-os;
    font-size: 12px;
  }
}

// Results element

.result-element {
  position: absolute;
  left: 50%;

  display: none;

  width: 320px;
  padding: 20px;
  margin-left: -160px;

  background: #F7F7F7;

  box-sizing: border-box;

  &__title {
    margin: 0;
    margin-bottom: 15px;

    font-family: $font-os;
    font-size: 14px;
    line-height: 21px;
  }

  &__area,
  &__all-area {
    margin: 0;
    margin-bottom: 10px;

    font-family: $font-os;
    font-size: 12px;
    line-height: 20px;

    &--style {
      font-weight: bold;
    }
  }

  &__all-area {
    margin-bottom: 15px;
  }

  &__more-link {
    display: inline-block;
    margin-bottom: 15px;

    font-family: $font-os;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #ED1C23;
    text-decoration: none;
  }

  &__land-container {
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;

    border-top: 1px solid #E5E5E5;
  }

  &__land-list {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    list-style: none;
  }

  &__land-link {
    font-family: $font-os;
    font-size: 12px;
    line-height: 21px;
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  &__free-area {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 25px;
    padding-right: 25px;
  }

  &__free-list {
    margin: 0;
    padding: 0;
    padding-left: 15px;
  }

  &__free-link {
    font-family: $font-os;
    font-size: 12px;
    line-height: 21px;
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  // controls buttons

  &__container-button {
    position: absolute;
    top: 0;
    right: -25px;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    width: 25px;
  }

  &__close,
  &__slide {
    position: relative;

    flex-basis: 100%;

    margin-bottom: 5px;
    height: 40px;
    padding: 0;

    font-size: 0;

    border: 0;
    background-color: white;
    border-radius: 0px 4px 4px 0px;

    outline: 0;

    cursor: pointer;
  }

  &__close {

    &:before,
    &:after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;

      width: 17px;
      height: 1px;
      margin-left: -8.5px;

      background-color: #ED1C23;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }

  &__slide {
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;


      border: solid #ED1C23;
      border-width: 0 1px 1px 0;
      display: inline-block;
      margin-top: -5px;
      margin-left: -3.5px;
      padding: 5px;
      transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    }
  }
}

// ScrollBar

.mCSB_scrollTools .mCSB_draggerRail {
  width: 6px;
  margin: 0;
  margin-bottom: 10px;

  background: #C4C4C4;
  border-radius: 3px;

  box-sizing: border-box;
}

.mCSB_scrollTools .mCSB_dragger {
  left: 0px;

  width: 4px;

  border: 1px solid #C4C4C4;
  background: #FFFFFF;
  border-radius: 3px;
}

// ScrollBar

// CheckBox

.city-filter__wrapper-checkbox {
  position: absolute;
  right: 20px;
  top: 50%;

  margin-top: -8.5px;
}

.city-filter__checkbox-label {
  display: inline-block;
  right: 0px;
  top: 0;
  position: relative;
  width: 28px;
  height: 18px;
  z-index: 10;
  line-height: 17px;
  background: #548D72;
  border-radius: 30px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
}

.free-wrapper__label {
  background-color: #ED1C23;
}

.city-filter__checkbox-label:after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  left: 1px;
  top: 50%;
  display: block;
  margin-top: -7px;
  background: white;
    border-radius: 30px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
}

#city-land-checkbox,
#city-free-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#city-land-checkbox:checked + .city-filter__checkbox-label {
  left: 0px;
}

#city-land-checkbox:checked + .city-filter__checkbox-label:after {
  left: 12px;
  content: "";
}

#city-free-checkbox:checked + .city-filter__checkbox-label {
  left: 0px;
}

#city-free-checkbox:checked + .city-filter__checkbox-label:after {
  left: 12px;
  content: "";
}

// CheckBox

@media (min-width: 1200px) {
  .territory-map {
    &__description {
      padding-right: 400px;
    }
  }

  .result-element {
    display: none !important;
  }

  .filter-map {

    @media (min-width: 1290px) {
      left: 50%;

      margin-left: -645px;
    }

    &__toggle-button {
      display: none;
      left: 0;

      margin-left: auto;
    }

    &__container {
      top: 20px;
      left: 0;

      display: block;
      margin-left: 0;
    }
  }
}
