.investors {
  min-height: 474px;
  padding-top: 40px;

  font-family: inherit;

  background-image: url('../img/main-page/investors/investors-bg.png');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 1920px 474px;

  box-sizing: border-box;

  &__title {
    width: 83%;
    margin: 0 auto;
    margin-bottom: 10px;

    font-family: $font-mt;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;

    &--desc {
      display: none;
    }
  }

  &__link-present {
    display: none;
  }

  &__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    min-height: 200px;
    margin: 0;
    padding: 0;

    list-style: none;

    overflow: hidden;
  }

  .owl-carousel .owl-item img {
    width: 100%;
    display: inline-block;
  }

  .owl-stage-outer,
  .owl-stage,
  .owl-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    min-height: 250px;
  }

  .owl-nav {
    top: 50%;

    height: -0px;
    margin-top: -40px;
  }
}

.unit-investor {
  text-align: center;

  &__title {
    position: absolute;
    bottom: -120px;
    left: -50%;
    right: -50%;

    margin: 0 auto;

    font-size: 18px;
    text-align: center;
    color: white;
  }

  &__desc {
    margin: 0;

    font-size: 11px;
    text-align: center;
  }
}

// Responsive

@media (min-width: 768px) {
  .unit-investor {
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .investors {
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 120px;
    min-height: 562px;

    box-sizing: border-box;

    background-size: 1920px 572px;

    overflow: hidden;

    &__container {
      position: relative;

      max-width: 1290px;
      margin: 0 auto;
    }

    &__title {
      position: relative;

      margin-bottom: 65px;
      padding-left: 130px;

      font-size: 44px;

      &--desc {
        display: block;
        margin-top: 10px;

        font-family: $font-os;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
      }

      &:before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100px;
        height: 46px;

        background-image: url('../img/main-page/investors/logo_title_element.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100px 46px;
      }
    }

    &__list {
      margin: 0 auto;

      overflow: visible;
    }

    &__link-present {
      position: absolute;
      right: 0;
      top: 0;

      display: block;
      width: 130px;

      font-family: $font-os;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      color: #FFFFFF;
      text-decoration: none;
      outline: 0;

      &:before {
        content: '';

        position: absolute;
        top: 50%;
        left: -51px;

        width: 36px;
        height: 46px;
        margin-top: -23px;

        background-image: url('../img/main-page/investors/icon_doc.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 36px 46px;
      }
    }

    .owl-nav {
      margin-top: -60px;
    }

    .owl-carousel .owl-nav button {
      width: 120px;
      height: 120px;

      &:before {
        width: 10px;
        height: 10px;
        margin-top: -5px;
      }

      &:after {
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;
      }

      &.owl-prev {
        left: -60px;
      }

      &.owl-next {
        right: -60px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .investors {
    .owl-carousel .owl-nav button.owl-prev {
      left: -70px;
    }
    .owl-carousel .owl-nav button.owl-next {
      right: -70px;
    }
  }
}

@media (min-width: 1355px) {
  .investors {
    .owl-carousel .owl-nav button.owl-prev {
      left: -100px;
    }
    .owl-carousel .owl-nav button.owl-next {
      right: -100px;
    }
  }
}

@media (min-width: 1430px) {
  .investors {
    .owl-carousel .owl-nav button.owl-prev {
      left: -140px;
    }
    .owl-carousel .owl-nav button.owl-next {
      right: -140px;
    }
  }
}

@media (min-width: 1500px) {
  .investors {
    .owl-carousel .owl-nav button.owl-prev {
      left: -180px;
    }
    .owl-carousel .owl-nav button.owl-next {
      right: -180px;
    }
  }
}

@media (min-width: 1550px) {
  .investors {
    .owl-carousel .owl-nav button.owl-prev {
      left: -210px;
    }
    .owl-carousel .owl-nav button.owl-next {
      right: -210px;
    }
  }
}

@media (min-width: 1630px) {
  .investors {
    .owl-carousel .owl-nav button.owl-prev {
      left: -240px;
    }
    .owl-carousel .owl-nav button.owl-next {
      right: -240px;
    }
  }
}

@media (min-width: 1680px) {
  .investors {
    .owl-carousel .owl-nav button.owl-prev {
      left: -270px;
    }
    .owl-carousel .owl-nav button.owl-next {
      right: -270px;
    }
  }
}

@media (min-width: 1750px) {
  .investors {
    .owl-carousel .owl-nav button.owl-prev {
      left: -300px;
    }
    .owl-carousel .owl-nav button.owl-next {
      right: -300px;
    }
  }
}

@media (min-width: 1810px) {
  .investors {
    .owl-carousel .owl-nav button.owl-prev {
      left: -330px;
    }
    .owl-carousel .owl-nav button.owl-next {
      right: -330px;
    }
  }
}

@media (min-width: 1870px) {
  .investors {
    .owl-carousel .owl-nav button.owl-prev {
      left: -360px;
    }
    .owl-carousel .owl-nav button.owl-next {
      right: -360px;
    }
  }
}

@media (min-width: 1920px) {
  .investors {
    .owl-carousel .owl-nav button.owl-prev {
      left: -375px;
    }
    .owl-carousel .owl-nav button.owl-next {
      right: -375px;
    }
  }
}
