.land-gallery {
  position: relative;

  max-width: 630px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;

  font-family: $font-os;

  overflow: hidden;

  &__title {
    margin: 0;
    margin-bottom: 25px;

    font-family: $font-mt;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    text-align: center;
    color: #1A1A1A;

    &--desc {
      display: none;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;

    overflow: hidden;
  }

  &__item {
    &--first {
      display: none;
    }
  }

  &__button {
    display: block;
    width: 92%;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;

    font-family: $font-os;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;

    background: #ED1C23;
    border-radius: 4px;

    outline: 0;
  }

  &__view-map {
    position: relative;

    display: block;
    width: 92%;
    height: 60px;
    margin: 0 auto;
    padding-left: 10%;

    font-family: $font-os;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 56px;
    text-align: center;
    color: #ED1C23;
    text-decoration: none;

    background: #FFFFFF;
    border: 2px solid #ED1C23;
    box-sizing: border-box;
    border-radius: 4px;

    outline: 0;

    &:before {
      content: '';

      position: absolute;
      top: 50%;
      left: 18%;

      width: 30px;
      height: 26px;
      margin-top: -12px;

      background-image: url('../img/main-page/land-gallery/icon_map.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 30px 26px;
    }
  }

  // Gallery setting

  .lSPager.lSGallery {
    display: none;
  }

  &__controls {
    position: absolute;
    top: 27%;

    height: 0px;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;

    z-index: 0;
  }

  &__controls > button {
    position: relative;

    width: 80px;
    height: 80px;
    padding: 0;

    font-size: 0;

    opacity: 1;

    border: 0;
    border-radius: 50%;
    background-color: rgba(237, 28, 35, 0.3);
    outline: 0;

    box-sizing: border-box;

    cursor: pointer;

    &:before {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;

      width: 65px;
      height: 65px;
      margin-top: -32.5px;
      margin-left: -32.5px;

      background-color: #ED1C23;
      border-radius: 50%;
    }

    &:after {
      content: '';

      position: absolute;
      top: 50%;

      display: inline-block;
      padding: 3px;
      width: 5px;
      height: 5px;
      margin-top: -5px;

      border: solid white;
      border-width: 0 2px 2px 0;

      z-index: 5;
    }
  }

  &__prev {
    left: -40px;
  }

  &__next {
    left: auto;
    right: -40px;
  }

  &__prev:after {
    right: 18px;

    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  &__next:after {
    left: 18px;

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

.unit-land {
  font-family: inherit;

  &__view-map-desktop {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: $font-os;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ED1C23;
  }

  &__img-container {
    position: relative;
  }

  &__schema {
    display: none;
  }

  &__desc {
    display: none;
  }

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  &__title {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;

    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #1A1A1A;
  }

  &__button-3d {
    position: absolute;
    top: 50%;
    left: 50%;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 125px;
    height: 125px;
    margin-left: -62.5px;
    margin-top: -62.5px;

    text-decoration: none;
    color: black;
    font-family: $font-os;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #1A1A1A;

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;

    z-index: 0;

    &--tour {
      display: block;
      width: 100%;

      font-size: 14px;
      color: #ED1C23;
    }

    &:before {
      content: '';

      position: absolute;

      width: 105px;
      height: 105px;

      border-radius: 50%;
      background-color: white;

      z-index: -1;
    }
  }
}

// Responsive

@media (min-width: 425px) {
  .land-gallery__controls {
    top: 30%;
  }
}

@media (min-width: 545px) {
  .land-gallery__controls {
    top: 34%;
  }
}

@media (min-width: 1290px) {
  .land-gallery {
    width: 100%;
    max-width: 1290px;
    padding: 100px 0;

    box-sizing: border-box;

    overflow: visible;

    &__title {
      position: relative;

      margin-bottom: 60px;
      padding-left: 130px;

      font-family: $font-mt;
      font-style: normal;
      font-weight: 800;
      font-size: 44px;
      color: #1A1A1A;
      text-align: left;

      &--desc {
        display: block;
        margin-top: 10px;

        font-family: $font-os;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #999999;
      }

      &:before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100px;
        height: 46px;

        background-image: url('../img/main-page/land-gallery/logo_title_element.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100px 46px;
      }
    }

    &__list {
      margin-bottom: 30px;
    }

    &__view-map {
      display: none;
    }

    &__button {
      display: none;
    }

    // Gallery setting

    &__controls {
      top: 44%;

      & > button:before {
        width: 60px;
        height: 60px;
        margin-top: -30px;
        margin-left: -30px;
      }

      & > button:after {
        width: 10px;
        height: 10px;
        margin-top: -10px;
      }
    }

    &__prev {
      left: 5px;

      &:after {
        left: 50%;
        margin-left: -5px;
      }
    }

    &__next {
      right: 0;

      &:after {
        right: 50%;
        margin-left: 8px;
      }
    }

    .lSPager.lSGallery {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-left: auto;
      margin-right: 0px;
    }

    .lSSlideOuter .lSPager.lSGallery li {
      position: relative;

      &:before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(255, 255, 255, 0.4);

        cursor: pointer;
      }
    }

    .lSSlideOuter .lSPager.lSGallery li.active,
    .lSSlideOuter .lSPager.lSGallery li:hover {
      border-radius: 0;
    }

    .lSSlideOuter .lSPager.lSGallery li.active {
      border: 4px solid #ED1C23;
      box-sizing: border-box;

      &:before {
        display: none;
      }
    }
  }

  .unit-land {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1290px;

    &__content {
      width: 100%;
      max-width: 520px;
      margin-left: 30px;
    }

    &__button-3d {
      width: 220px;
      height: 220px;
      margin-top: -110px;
      margin-left: -110px;

      font-size: 18px;
      line-height: 25px;

      &:before {
        width: 180px;
        height: 180px;
      }

      &--tour {
        font-size: 30px;
        line-height: 37px;
      }
    }

    &__title {
      margin: 0;
      margin-bottom: 20px;
    }

    &__desc {
      display: block;
      margin-bottom: 90px;

      font-family: $font-os;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #1A1A1A;

      &--style {
        font-weight: 700;
      }
    }

    &__schema {
      position: relative;

      display: block;
      width: 252px;
      height: 60px;
      padding-left: 20px;

      font-family: $font-os;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      color: #FFFFFF;
      text-decoration: none;
      line-height: 56px;

      background: #ED1C23;
      border-radius: 4px;

      &:before {
        content: '';

        position: absolute;
        top: 50%;
        left: 40px;

        width: 24px;
        height: 24px;
        margin-top: -12px;

        background-image: url('../img/main-page/land-gallery/icon_3d.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 24px 24px;
      }
    }

    &__img {
      width: 630px;
      height: 420px;
    }
  }
}

@media (min-width: 1450px) {
  .land-gallery {
    &__list {
      overflow: visible;
    }

    &__prev {
      left: -75px;
    }

    &__next {
      right: -80px;
    }
  }

  .unit-land__img {
    margin-bottom: 0;
  }
}

@media (min-width: 1510px) {
  .land-gallery {

    &__prev {
      left: -105px;
    }

    &__next {
      right: -110px;
    }
  }
}
