.header {
  font-family: $font-os;

  box-sizing: border-box;

  // First desktop line

  &__first-line {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 15px;
  }

  &__phone {
    font-weight: 700;
    font-size: 12px;
    color: black;
    text-decoration: none;
  }

  &__mail {
    font-weight: 700;
    font-size: 12px;
    color: #ED1C23;
    text-decoration: none;
  }

  &__mobile-container {
    position: absolute;
    left: 0;

    box-sizing: border-box;

    z-index: 3;

    &--first {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      top: 130px;

      width: 100%;
      padding: 0 22px;

      // Fix
      display: none;
      // Fix
    }

    &--second {
      top: 200px;
    }

    // Fix
    display: none;
    // Fix
  }

  &__eye {
    margin-right: 20px;

    text-decoration: none;

    box-sizing: border-box;
  }

  &__img-eye {
    line-height: 30px;
    vertical-align: text-bottom;
  }

  &__list-lang {
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    align-items: center;
    margin: 0;
    margin-right: 20px;
    padding: 0;

    list-style: none;
  }

  &__item-lang {
    width: 60px;
    height: 30px;

    text-align: center;

    box-sizing: border-box;

    border: 1px solid #1A1A1A;

    &:first-child {
      border-radius: 4px 0px 0px 4px;
    }

    &:last-child {
      border-radius: 0px 4px 4px 0px;
    }
  }

  .active-lang {
    color: white;
    line-height: 30px;

    border: 1px solid #ED1C23;
    background-color: #ED1C23;
  }

  &__link-lang {
    display: block;
    width: 100%;

    font-family: inherit;
    text-align: center;
    line-height: 30px;
    color: black;
    text-decoration: none;
  }

  &__resident {
    display: block;
    width: 92%;
    height: 60px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 25px;

    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 60px;

    border: 0;
    background: #ED1C23;
    border-radius: 4px;

    outline: 0;
    cursor: pointer;
  }

  // Social

  &__list-social {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 25px;

    list-style: none;
  }

  &__item-social {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link-social {
    text-decoration: none;
    outline: 0;
  }

  // Social

  // First desktop line

  // Second desktop line

  &__second-line {
    position: relative;

    padding: 15px;

    background: #F7F7F7;

    box-sizing: border-box;
  }

  &__second-container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: inline-block;
  }

  &__logo-img {
    width: 150px;
    height: 42px;
  }

  &__toggle-menu {
    width: 120px;
    height: 50px;
    padding: 0;

    color: white;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    border: 0;
    background: #ED1C23;
    border-radius: 4px;
    outline: 0;

    cursor: pointer;

    transition: background 0.5s linear 0s;
    transition: width 0.5s linear 0s;

    &.active-menu {
      position: relative;

      width: 50px;
      height: 50px;

      font-size: 0;

      background: #999999;
      border-radius: 4px;

      &:before,
      &:after {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;

        width: 30px;
        height: 2px;
        margin-left: -15px;

        background-color: white;

        border-radius: 15%;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }

  &__navigation {
    position: absolute;
    top: 80px;
    left: 0;

    // Fix
    display: none;
    // Fix

    width: 100%;
    padding-top: 125px;

    background: #F7F7F7;

    z-index: 2;
  }

  &__list-menu {
    margin: 0;
    padding: 0;
    padding: 0 25px;

    list-style: none;
  }

  &__item-menu {
    padding: 19px 0;
  }

  &__menu-link {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    color: black;
    text-decoration: none;
  }

  // Second desktop line
}

// Search element

.header-search {
  display: inline-flex;
  align-items: center;

  &__link {
    display: inline-block;
    height: 30px;
    padding: 0;
    padding-right: 5px;

    text-decoration: none;

    border: 0;
    background-color: transparent;
    outline: 0;

    cursor: pointer;
  }

  &__img {
    vertical-align: bottom;
  }
}

.search-form {
  display: none;

  &__container {
    margin: 0;
    padding: 0;

    border: 0;
  }

  &__input {

    font-family: $font-os;
    font-size: 14px;

    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;

    outline: 0;
  }
}

// Responsive

@media (min-width: 1200px) {
  .header {

    // First Line

    &__first-line {
      position: relative;

      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1290px;
      margin: 0 auto;
      padding: 15px 0;
      padding-right: 290px;

      box-sizing: border-box;
    }

    &__mobile-container {
      position: static;
      top: auto;

      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      width: auto;
      margin: 0 auto;
      padding: 0;

      &--first {
        margin-left: 0;
        margin-right: 16px;
      }

      &--second {
        margin-right: 0;
        margin-left: 40px;
      }
    }

    &__phone {
      margin-right: auto;

      font-size: 18px;
    }

    &__mail {
      margin-left: auto;

      font-size: 18px;
    }

    &__logo-img {
      width: 352px;
      height: 36px;
    }

    &__list-social {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      margin-left: 0;
    }

    // First Line

    // Second Line

    &__second-line {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      min-height: 80px;
      padding-left: 0;
      padding-right: 0;
    }

    &__second-container {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
    }

    &__toggle-menu {
      display: none;
    }

    &__logo {
      display: inline-block;
    }

    &__navigation {
      position: static;
      top: auto;
      left: auto;

      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      padding-top: 0;
    }

    &__list-menu {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 720px;
      padding-left: 0;
      margin-left: 50px;

      @media(min-width: 1290px) {
        margin-left: 130px;
      }
    }

    &__item-menu {
      margin-right: 40px;
      padding: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    &__resident {
      position: absolute;
      top: -81px;
      right: 0;

      width: 250px;
      margin: 0;

      border-radius: 0;
    }

    &__second-container {
      position: relative;

      width: 100%;
      max-width: 1290px;
      margin: 0 auto;
    }

    .open-search {
      max-width: 620px;
      margin-left: 20px;

      transition: all 0.3s linear 0s;

      @media (min-width: 1290px) {
        max-width: 720px;
        margin-left: 50px;
      }

      & li {
        margin-right: 10px;

        @media (min-width: 1290px) {
          margin-right: 20px;
        }
      }
    }

    // Second Line
  }

  .header-search {
    position: absolute;
    bottom: -57px;
    right: 30px;
  }
}
