@import "normalize";

// Common
@import "common/fonts";
@import "common/variables";

// Blocks
@import "blocks/header";
@import "blocks/main-content";
@import "blocks/full-block";


.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
