@import "normalize";

// Common
@import "common/fonts";
@import "common/variables";

@import "blocks/header";

// Main Page
@import "blocks/main-page/main-content";
@import "blocks/main-page/full-block";
@import "blocks/main-page/land-gallery";
@import "blocks/main-page/investors";
@import "blocks/main-page/territory";
@import "blocks/main-page/residents";
@import "blocks/main-page/map";

// Territory
@import "blocks/territory/territory-content";
@import "blocks/territory/intro";
@import "blocks/territory/submenu";
@import "blocks/territory/map";

// Unit Territory
@import "blocks/territory-unit/unit-content";
@import "blocks/territory-unit/increase-img";

@import "blocks/footer";

// Settings
@import "blocks/investors-cart";

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
